In [3]:
import pandas as pd

# Load dataset (replace 'your-dataset-path' with actual path from Kaggle dataset)
df = pd.read_csv('/kaggle/input/restaurant-review-dataset/Restaurant reviews.csv')

# Display first 5 rows
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures,7514
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,"1 Review , 2 Followers",5/25/2019 15:54,0,2447.0
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,"3 Reviews , 2 Followers",5/25/2019 14:20,0,NaN
2,Beyond Flavours,Ashok Shekhawat,A must try.. great food great ambience. Thnx f...,5,"2 Reviews , 3 Followers",5/24/2019 22:54,0,NaN
3,Beyond Flavours,Swapnil Sarkar,Soumen das and Arun was a great guy. Only beca...,5,"1 Review , 1 Follower",5/24/2019 22:11,0,NaN
4,Beyond Flavours,Dileep,Food is good.we ordered Kodi drumsticks and ba...,5,"3 Reviews , 2 Followers",5/24/2019 21:37,0,NaN

In [4]:
df.columns

Index(['Restaurant', 'Reviewer', 'Review', 'Rating', 'Metadata', 'Time',
       'Pictures', '7514'],
      dtype='object')

In [6]:

df = df.drop(columns=['7514'])

df.head()

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures
0,Beyond Flavours,Rusha Chakraborty,"The ambience was good, food was quite good . h...",5,"1 Review , 2 Followers",5/25/2019 15:54,0
1,Beyond Flavours,Anusha Tirumalaneedi,Ambience is too good for a pleasant evening. S...,5,"3 Reviews , 2 Followers",5/25/2019 14:20,0
2,Beyond Flavours,Ashok Shekhawat,A must try.. great food great ambience. Thnx f...,5,"2 Reviews , 3 Followers",5/24/2019 22:54,0
3,Beyond Flavours,Swapnil Sarkar,Soumen das and Arun was a great guy. Only beca...,5,"1 Review , 1 Follower",5/24/2019 22:11,0
4,Beyond Flavours,Dileep,Food is good.we ordered Kodi drumsticks and ba...,5,"3 Reviews , 2 Followers",5/24/2019 21:37,0

In [7]:
# Show data types of each column
df.dtypes

Restaurant    object
Reviewer      object
Review        object
Rating        object
Metadata      object
Time          object
Pictures       int64
dtype: object

In [9]:
from textblob import TextBlob

# Function to get sentiment polarity safely
def get_sentiment(text):
    if isinstance(text, str):  # Check if text is a string
        return TextBlob(text).sentiment.polarity
    else:
        return 0  # Neutral sentiment for missing/invalid values

# Apply sentiment analysis
df['Sentiment'] = df['Review'].apply(get_sentiment)

# Keep only negative reviews (polarity < 0)
df_negative = df[df['Sentiment'] < 0]

# Show negative reviews
df_negative.head()

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures,Sentiment
14,Beyond Flavours,Kankaria.ritu,"We ordered corn cheese balls, manchow soup and...",1,1 Review,5/22/2019 21:19,0,-0.500000
66,Beyond Flavours,Tejaswi Rao,"we went for a team lunch, such a worst restaur...",1,"1 Review , 24 Followers",5/15/2019 3:26,0,-0.365000
75,Beyond Flavours,Mudit,I have been at this place for dinner a few day...,2,"1 Review , 2 Followers",5/12/2019 8:37,0,-0.036538
80,Beyond Flavours,Surya Sharma,"Hostile staff, okeish food, not so great ambia...",1,"2 Reviews , 10 Followers",5/10/2019 23:24,0,-0.023333
83,Beyond Flavours,Parshwa Shah,Food quality and taste is not good. Super slow...,2,"3 Reviews , 1 Follower",5/9/2019 14:48,0,-0.072778

In [10]:
# Count the number of negative reviews
num_negative_reviews = df_negative.shape[0]

# Display the result
print("Total negative reviews:", num_negative_reviews)

Total negative reviews: 1982

In [12]:
# Convert 'Rating' to numeric (if not already)
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')

# Keep only negative sentiment reviews with a rating of 1 or 2
df_negative = df[(df['Sentiment'] < 0) & (df['Rating'].isin([1, 2]))]

# Show the first few rows
df_negative.head()

,Restaurant,Reviewer,Review,Rating,Metadata,Time,Pictures,Sentiment
14,Beyond Flavours,Kankaria.ritu,"We ordered corn cheese balls, manchow soup and...",1.0,1 Review,5/22/2019 21:19,0,-0.500000
66,Beyond Flavours,Tejaswi Rao,"we went for a team lunch, such a worst restaur...",1.0,"1 Review , 24 Followers",5/15/2019 3:26,0,-0.365000
75,Beyond Flavours,Mudit,I have been at this place for dinner a few day...,2.0,"1 Review , 2 Followers",5/12/2019 8:37,0,-0.036538
80,Beyond Flavours,Surya Sharma,"Hostile staff, okeish food, not so great ambia...",1.0,"2 Reviews , 10 Followers",5/10/2019 23:24,0,-0.023333
83,Beyond Flavours,Parshwa Shah,Food quality and taste is not good. Super slow...,2.0,"3 Reviews , 1 Follower",5/9/2019 14:48,0,-0.072778

In [14]:
# Count the number of negative reviews
num_negative_reviews = df_negative.shape[0]

# Display the result
print("Total negative reviews:", num_negative_reviews)

Total negative reviews: 1552

In [13]:
# Save negative reviews to a CSV file
df_negative.to_csv('negative_reviews.csv', index=False)

print("File saved as negative_reviews.csv")

File saved as negative_reviews.csv